<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <script src="https://npmcdn.com/vue/dist/vue.js"></script>
      <title>Document</title>
   </head>
   <body>
      <div id='app'>
         <h1 v-if='isTrue'>hello from conditionals with if directive</h1>
         <h3 v-else>I will show if the Main heading is not there</h3>
         <p @click='isTrue = !isTrue'>click me to change if heading show!!!</p>

         <template v-if='templateTrue'>
          <div>
            <p>
              showing conditionals inside the element using Template
            </p>
          </div>
         </template>
         <button @click='templateTrue = !templateTrue'>click to show template</button>
         <button @click='fruitList.push(`hi`)' >add fruit to list</button>
         <ul>
           <li v-for='(fruit, index) in fruitList' :key='fruit + index'>{{ `this ${fruit} has an index of ${index}` }}</li>
         </ul>

         <ul>
           <li v-for='person in peopleObject'>
             <div v-for='(data, key, index) in person'>{{key}}: {{data}}</div>
           </li>
         </ul>

         <span v-for='n in 10'>
            {{n}}
         </span>
      </div>
   </body>
   <script src="index-vue-conditional-list.js"></script>
</html>
